/* GLOBAL ARTICLE STYLES */

body {

}

h1 {
font-family: "Source Sans 3", sans-serif;
}

h2 {
font-family: "Source Sans 3", sans-serif;
}

p {
font-family: "Nunito Sans", sans-serif;
}


.caption{
font-family: "Roboto Condensed", sans-serif;
}

.date{
	font-size: 12px;
	margin-top: 0px;
}

.NotLeadPhoto {
	margin: 20px 20px 20px 20px;
	padding: 20px;
}

.Branding {
font-family: "Pirata One", system-ui;
font-size: 50px;
text-align: center;
color: #F56514;
}

.leadPhoto {
	margin: 20px 20px 20px 20px
}

.videowallbreakandwhatnot {
	padding:20px 20px 20px 20px;
}

.sidebox{
	background-color: #f4f4f4;
	width: 350px;
	length: 700px;
	padding: 20px;
	margin: 20px;
}

.headline{
    padding: 15px;
    margin: 15px;
}


.navStyle {
	background-color: #F56514;
	color: #fff;
	height: 50px;
	padding: 12px;
	text-align: center;
}
.navStyle a {
	color: #f4f4f4;
	text-decoration: none;
}
.navStyle a:hover {
	color: #009cff;
}
.navItem {
	margin: 0 25px 0 25px;
}
.bodyCopy {
	padding: 50px 0 0 0;
}
.footerStyle {
	background-color: #F56514;
	color: #fff;
	padding: 12px;
	height: 50px;
	text-align: center;
	margin-top: 50px;
}
.rtt {
	text-align: center;
	margin-top: 50px;
}
.rtt a {
	color: #F56514;
	text-decoration: none;
	font-weight: bold;
}
.rtt a:hover {
	color: #F56514;
}


.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}


.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 80,
    "YTLC" 500;
}

.source-sans-3-<uniquifier> {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
